body {
   font-family: "Montserrat", sans-serif;
   background-color: #f5f7fa;
}
.main-container {
   display: flex;
   flex-direction: row-reverse;
   width: 1200px;
   background-color: #fff;
   margin: 40px auto;
}
.about-me-profession {
   font-size: 14px;
   font-weight: 700;
   color: #000;
}
.about-me-section {
   background: rgb(138, 161, 235);
}
.my-projects-section {
   background: rgb(25, 226, 132);
}
.my-work-expirience {
   background: rgb(117, 145, 15);
}
.my-education {
   background: rgb(200, 166, 213);
}
.sidebar-section {
   background-color: #1e2939;
}
